<!DOCTYPE html>
<html>
<head>
	<title>Electrify</title>
	<!-- Global site tag (gtag.js) - Google Analytics -->
	<!-- <script async src="https://www.googletagmanager.com/gtag/js?id=UA-163865824-1"></script>
	<script>
  	window.dataLayer = window.dataLayer || [];
  	function gtag(){dataLayer.push(arguments);}
  	gtag('js', new Date());
  	gtag('config', 'UA-163865824-1');
	</script> -->
	<!-- END of global site tag -->
    <!-- Semantic Development -->
	<!-- <link rel="stylesheet" type="text/css" href="./static/Semantic-UI-CSS-master/semantic.min.css"> -->
	<!-- JQUERY-->
	<script type="text/javascript" src="./static/jquery/jquery-3.4.1.min.js"></script>
    <!-- Semantic Production -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css" integrity="sha256-9mbkOfVho3ZPXfM7W8sV2SndrGDuh7wuyLjtsWeTI1Q=" crossorigin="anonymous" />
    <link rel="stylesheet" type="text/css" href="./static/css/bootstrap.css">
    <!-- Semantic development -->
    <!-- <script type="text/javascript" src="./static/Semantic-UI-CSS-master/semantic.min.js"></script> -->
	<!-- Semantic Production -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.js" integrity="sha256-t8GepnyPmw9t+foMh3mKNvcorqNHamSKtKRxxpUEgFI=" crossorigin="anonymous"></script>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<!-- development version, includes helpful console warnings -->
    <!-- <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script> -->
    <!-- production version, optimized for size and speed -->
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
	<!-- navbar and footer js-->
	<script src="./static/js/import.js"></script>
</head>
<style type="text/css">
	body {
		width: 100%;
		background-image: url("./static/img/bg3.jpg");
		background-size: 100% 120%;
		background-attachment: fixed;
		background-repeat: no-repeat;
		margin:0;
		padding: 0;
		overflow-x: hidden;

	}
	p {
		font-size: 140%;
		font-family: Times;
	}
</style>
<body>
	<!-- NAVBAR -->
<div id="navbar"></div>
	<!-- END of Navbar -->

<!-- VUE App div -->
<div class="my-3" id="app">
<div class="ui container">
	<div class="ui segment">
		<h2 class="ui center aligned blue header my-3">{{ heading }}</h2>
		<div class="content">
			<p v-for="p in paragraph">{{ p }}</p>
		</div>
	</div>
</div>
	<!-- Images -->
<div class="ui basic segment" id="app">
	<div class="ui raised link cards">
		<a class="ui centered card" v-for="img in images" :href="img">
			<img class="ui large image" v-bind:src="img">
		</a>
	</div>
</div>
	<!-- END of Images -->
</div>
<!-- END of Vue app -->

<!-- Conatact -->
<div class="ui inverted raised text center aligned container segment">
	<div class="ui inverted red content">
		<a href="https://wa.me/919952294128"><b>Intrested in this project! Contact Us...</b></a>
	</div>
</div>
<!-- END of contact -->

<!-- FOOTER -->
<div id="footer"></div>
<!-- END of footer -->

</body>
<script type="text/javascript">
	$(document).ready(function(){
		var res,id;
		$.ajax(
			{
				url:"./project_detail.json",
				datatype: JSON,
				success: function(result){
					res = result;
					var urlParams = new URLSearchParams(window.location.search);
					if(urlParams.has('id'))
					{
						id = parseInt(urlParams.get('id'))-1;
						var app = new Vue({
							el:"#app",
							data : res.project_detail[id]
						});
					}
					else{}
				},
			}
		);
	});
</script>
</html>